
@use '../utils/colors';

.heading {
    color: colors.$heading;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    line-height: 1.3;
    padding-bottom: 0;
    font-family: "Space Mono";

    &--hero {
      font-size: 3.3em;
      margin-top: -0.5em;
      margin-bottom: 0;
    }

    &--xxl { // H1
      font-size: 2em;
    }

    &--xl { // H2
      font-size: 1.6em;
    }

    &--l { // H3
      font-size: 1.2em;
    }

    &--m { // H4
      font-size: 1em;
    }

    &--s { // H5
      font-size: 0.8em;
    }

    &--xs { // H5
      font-size: 0.8em;
    }
}

.title-posts {
  margin-top: 3.3em;
  margin-bottom: 0em;
}

.japanese-subtitle {
  font-weight: 200;
  margin-top: 0em;
  color: colors.$japanese;
}
