
@use '../utils/colors';

a {
  padding: 0.1em 0.2em;
  text-decoration: none;
  color: colors.$highlight-green;
  &:hover {
    color: colors.$background;
    background: colors.$highlight-green;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

@mixin obsidian-link {
    padding: 0.1em 0.2em;
    text-decoration: none;
    color: colors.$highlight-violet;
    &:hover {
        color: colors.$background;
        background: colors.$highlight-violet;
    }
}

.home-link {
  padding: 0.1em 0.2em;
  text-decoration: none;
  color: colors.$foreground-hover;

  &:hover {
    color: colors.$foreground;
    background: colors.$highlight-green;
  }
}

.Link {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease, background 0.2s ease;

    &--nav {
        @include obsidian-link;
        padding: 0em 0.4em;
        color: colors.$japanese;
        letter-spacing: 0.22em;
        font-size: 0.8em;
        margin: 0 1em;

        &:hover {
            color: colors.$foreground;
            background: colors.$background;
        }
    }

    &--obsidian {
        @include obsidian-link;
    }
}

.logo-title {
  @extend .Link--nav;
  color: colors.$foreground-hover;
  margin-left: 0.5em;   
  letter-spacing: 0%;
  font-size: 1.1em;
  font-weight: 700;
  &:hover {
    color: colors.$foreground;
    background: colors.$background;
  }
  
}

.logo-title span {
  color: colors.$highlight-green;
}