
// DARK 
$background: #121212;
$background-gradient: #1d172a;
$code-background: #171717;
$callout: #231f2d;
$callout-text: #B3B3B3;
$heading: #989CAE;
$japanese: #403750;
$divider: #222222;
$foreground: #E0E0E0;
$foreground-hover: #b8b8b8;

$highlight-green: #31F382;
$highlight-violet: #B462FF;
$highlight-orange: #e49132;

$button-primary-bg: #434B4E;
$button-primary-bg-hover: #555d60;
$button-secondary-bg: #d6d7db;
$button-secondary-bg-hover: #dfe0e3;

