@use '../sass/utils/colors';

.HeroSection {
    display: flex; 
    overflow: hidden; 
    padding-left: 2rem;
    padding-right: 2rem; 
    flex-direction: column; 
    flex: 1 1 0%; 
    justify-content: center; 
    align-items: center; 

    &__container {
        display: flex; 
        z-index: 20; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        margin-top: 4em;

        @media (min-width: 640px) { 
           gap: 0rem; 
        }
    }

    &__title {
        font-weight: 700; 
        letter-spacing: -0.05em; 
        text-align: center; 
        color: clamp(40px,10vw,44px);

        @media (min-width: 640px) { 
            color: 64px;
        }
    }

    &__description {
        line-height: 1.75rem; 
        text-align: center; 

        @media (min-width: 640px) { 
            width: 466px;
            color: 18px;
        }
    }

    &__buttons {
        display: flex; 
        flex-direction: column; 
        gap: 1.5rem; 
        justify-content: center; 
        align-items: center; 
        margin-top: 2em;

        @media (min-width: 640px) { 
            flex-direction: row; 
        }

        // TODO: export to global button styles
        &__primary {
            background-color: black;
            color: white;
            height: 2.5rem; 
            font-weight: 500; 
            line-height: 1.25rem; 
            width: 163px;
        }

        &__secondary {
            @extend .HeroSection__buttons__primary;
            background-color: white;
            color: black;
            border: 1px solid beige;
        }
    }
}
