$background: #E2E6E7;
$background-gradient: #1d172a;

$callout: #d0d6d7;
$callout-text: #585f62;

$heading: #434B4E;
$japanese: #9C9C9C;
$divider: #CDD5D6;

$foreground: #434B4E;
$foreground-hover: #727a7d;
$highlight-green: #31F382;
$highlight-violet: #B462FF;
$highlight-orange: #e49132;

$button-primary-bg: #434B4E;
$button-primary-bg-hover: #555d60;
$button-secondary-bg: #d6d7db;
$button-secondary-bg-hover: #dfe0e3;

// DARK 
$dark-background: #121212;
$dark-background-gradient: #1d172a;
$dark-callout: #231f2d;
$dark-callout-text: #B3B3B3;
$dark-heading: #989CAE;
$dark-japanese: #403750;
$dark-divider: #222222;
$dark-foreground: #E0E0E0;
$dark-foreground-hover: #78698d;